Coneccion a la base de datos

In [67]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name1 = 'SQM-Niveles-Manuales'
table_name2 = 'SQM-Infraestructuras'


df_manuales_bd = pd.read_sql_table(table_name1, con=engine)#Trae la tabla de la bda un dataframe
df_infraestructuras_bd = pd.read_sql_table(table_name2, con=engine)#

In [3]:
df_manuales_bd.columns

Index(['Fecha', 'Compañia', 'Punto de monitoreo', 'Tipo nivel', 'Nivel (msnm)',
       'Cota Referencia(msnm)', 'Prof Nivel (m)', 'Sub-Sistema', 'Sistema',
       'Object_ID', 'Fecha_Update'],
      dtype='object')

LEER ARCHIVOS CON NUEVA DATA

In [5]:
data1 = pd.read_excel(r"G:\Unidades compartidas\03. Proyectos\20. FLOW\FLOW-003 Sistema Gestión de la Información\10_Colaborativos\01_Solicitudes\SQM\SQM-SALAR\Niveles-Manual\Nivel_Manual_NOOPE_acq_190624_v2.xlsx")

data2 = pd.read_excel(r"G:\Unidades compartidas\03. Proyectos\20. FLOW\FLOW-003 Sistema Gestión de la Información\10_Colaborativos\01_Solicitudes\SQM\SQM-SALAR\Niveles-Manual\Nivel_Manual_NOOPE_Hidro_190624_v2.xlsx")

In [6]:
data1

,Punto de monitoreo,Fecha,Tipo nivel,NombreModalidadNivel,Prof Nivel (m),Cota Referencia(msnm),Nivel (msnm),NBPRNivelInicial,Nivel_relativo,CoordenadaUtmEste,CoordenadaUtmNorte,ComentarioNivel,NombreSistemaCoordenada,Densidad,NombreEmpresa,EstadoVerificacionNivel,NombreVerificador,ApellidoPaternoVerificador,NombreGrupoTrabajo,FUENTE
0,1028,2024-01-07 10:54:00,Manual,Estático,2.250,2301.448,2299.498,NaN,NaN,584432.981,7383997.754,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
1,1028,2024-02-20 12:33:00,Manual,Estático,2.259,2301.448,2299.489,NaN,NaN,584432.981,7383997.754,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
2,1028,2024-05-24 14:39:00,Manual,Estático,2.298,2301.448,2299.45,NaN,NaN,584432.981,7383997.754,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
3,1906,2024-01-25 14:40:00,Manual,Estático,2.050,2300.802,2299.752,NaN,NaN,576809.174,7418675.338,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
4,2022,2024-01-28 09:50:00,Manual,Estático,1.800,2300.686,2298.886,NaN,NaN,563397.319,7415017.275,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,SP-4,2024-02-20 13:52:00,Manual,Estático,10.382,2318.730,2309.018,NaN,NaN,595888.490,7392857.750,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
300,SP-4,2024-03-25 09:44:00,Manual,Estático,10.389,2318.730,2309.011,NaN,NaN,595888.490,7392857.750,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
301,SP-4,2024-04-29 10:48:00,Manual,Estático,10.372,2318.730,2309.028,NaN,NaN,595888.490,7392857.750,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
302,SP-4,2024-05-20 13:58:00,Manual,Estático,10.383,2318.730,2309.017,NaN,NaN,595888.490,7392857.750,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
303,SP-4,2024-06-17 13:33:00,Manual,Estático,10.386,2318.730,2309.014,NaN,NaN,595888.490,7392857.750,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ

In [7]:
data2

,Punto de monitoreo,Fecha,Tipo nivel,NombreModalidadNivel,Prof Nivel (m),Cota Referencia(msnm),Nivel (msnm),NBPRNivelInicial,Nivel_relativo,CoordenadaUtmEste,CoordenadaUtmNorte,ComentarioNivel,NombreSistemaCoordenada,Densidad,NombreEmpresa,EstadoVerificacionNivel,NombreVerificador,ApellidoPaternoVerificador,NombreGrupoTrabajo,FUENTE
0,1001,2024-06-15 15:37:00,Manual,Estático,NaN,2301.100,NaN,NaN,NaN,575189.800,7392245.758,Pozo seco a 1.96 mts,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB
1,1001,2024-05-09 15:10:00,Manual,Estático,NaN,2301.100,NaN,NaN,NaN,575189.800,7392245.758,POZO SECO A LOS 1.97 MTS APROX,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB
2,1001,2024-04-30 09:27:00,Manual,Estático,NaN,2301.100,NaN,NaN,NaN,575189.800,7392245.758,Seco,WGS-84,NaN,SEGEA,1,NaN,NaN,PSAH,HIDRODB
3,1001,2024-04-17 17:15:00,Manual,Estático,NaN,2301.100,NaN,NaN,NaN,575189.800,7392245.758,POZO SECO A LOS 1.975 MTS,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB
4,1001,2024-03-11 17:23:00,Manual,Estático,NaN,2301.100,NaN,NaN,NaN,575189.800,7392245.758,Pozo seco,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8142,ZAR-C-S,2024-05-09 08:46:00,Manual,Estático,7.759,2303.141,2295.382,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB
8143,ZAR-C-S,2024-04-17 10:45:00,Manual,Estático,7.755,2303.141,2295.386,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB
8144,ZAR-C-S,2024-03-20 10:31:00,Manual,Estático,7.761,2303.141,2295.380,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1,FREDDY,CORTEZ,PSAH,HIDRODB
8145,ZAR-C-S,2024-02-23 14:01:00,Manual,Estático,7.754,2303.141,2295.387,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB
8146,ZAR-C-S,2024-01-17 11:32:00,Manual,Estático,7.751,2303.141,2295.390,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1,NaN,NaN,PSAH,HIDRODB

Juntamos ambos dataframe

In [8]:
# Concat dataframes data1 y data2
datanew = pd.concat([data1, data2])

In [9]:
datanew

,Punto de monitoreo,Fecha,Tipo nivel,NombreModalidadNivel,Prof Nivel (m),Cota Referencia(msnm),Nivel (msnm),NBPRNivelInicial,Nivel_relativo,CoordenadaUtmEste,CoordenadaUtmNorte,ComentarioNivel,NombreSistemaCoordenada,Densidad,NombreEmpresa,EstadoVerificacionNivel,NombreVerificador,ApellidoPaternoVerificador,NombreGrupoTrabajo,FUENTE
0,1028,2024-01-07 10:54:00,Manual,Estático,2.250,2301.448,2299.498,NaN,NaN,584432.981,7383997.754,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
1,1028,2024-02-20 12:33:00,Manual,Estático,2.259,2301.448,2299.489,NaN,NaN,584432.981,7383997.754,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
2,1028,2024-05-24 14:39:00,Manual,Estático,2.298,2301.448,2299.45,NaN,NaN,584432.981,7383997.754,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
3,1906,2024-01-25 14:40:00,Manual,Estático,2.050,2300.802,2299.752,NaN,NaN,576809.174,7418675.338,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
4,2022,2024-01-28 09:50:00,Manual,Estático,1.800,2300.686,2298.886,NaN,NaN,563397.319,7415017.275,NaN,WGS-84,NaN,SQM,NaN,NaN,NaN,NaN,ACQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8142,ZAR-C-S,2024-05-09 08:46:00,Manual,Estático,7.759,2303.141,2295.382,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1.0,NaN,NaN,PSAH,HIDRODB
8143,ZAR-C-S,2024-04-17 10:45:00,Manual,Estático,7.755,2303.141,2295.386,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1.0,NaN,NaN,PSAH,HIDRODB
8144,ZAR-C-S,2024-03-20 10:31:00,Manual,Estático,7.761,2303.141,2295.38,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1.0,FREDDY,CORTEZ,PSAH,HIDRODB
8145,ZAR-C-S,2024-02-23 14:01:00,Manual,Estático,7.754,2303.141,2295.387,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1.0,NaN,NaN,PSAH,HIDRODB
8146,ZAR-C-S,2024-01-17 11:32:00,Manual,Estático,7.751,2303.141,2295.39,NaN,NaN,547921.523,7387589.963,NaN,WGS-84,NaN,SQM,1.0,NaN,NaN,PSAH,HIDRODB

In [10]:
datanew.columns

Index(['Punto de monitoreo', 'Fecha', 'Tipo nivel', 'NombreModalidadNivel',
       'Prof Nivel (m)', 'Cota Referencia(msnm)', 'Nivel (msnm)',
       'NBPRNivelInicial', 'Nivel_relativo', 'CoordenadaUtmEste',
       'CoordenadaUtmNorte', 'ComentarioNivel', 'NombreSistemaCoordenada',
       'Densidad', 'NombreEmpresa', 'EstadoVerificacionNivel',
       'NombreVerificador', 'ApellidoPaternoVerificador', 'NombreGrupoTrabajo',
       'FUENTE'],
      dtype='object')

Extraemos las columnas necesarias

In [12]:
extract_columns = ['Fecha', 'Punto de monitoreo', 'Tipo nivel', 'Nivel (msnm)',
       'Cota Referencia(msnm)', 'Prof Nivel (m)']

datanew = datanew[extract_columns]

In [14]:
datanew

Fecha                    datetime64[ns]
Punto de monitoreo               object
Tipo nivel                       object
Nivel (msnm)                     object
Cota Referencia(msnm)           float64
Prof Nivel (m)                  float64
dtype: object

In [15]:
# convertir Nivel (msnm) a float
datanew['Nivel (msnm)'] = pd.to_numeric(datanew['Nivel (msnm)'], errors='coerce')

C:\Users\fdona\AppData\Local\Temp\ipykernel_3420\4278660081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew['Nivel (msnm)'] = pd.to_numeric(datanew['Nivel (msnm)'], errors='coerce')

In [16]:
datanew

,Fecha,Punto de monitoreo,Tipo nivel,Nivel (msnm),Cota Referencia(msnm),Prof Nivel (m)
0,2024-01-07 10:54:00,1028,Manual,2299.498,2301.448,2.250
1,2024-02-20 12:33:00,1028,Manual,2299.489,2301.448,2.259
2,2024-05-24 14:39:00,1028,Manual,2299.450,2301.448,2.298
3,2024-01-25 14:40:00,1906,Manual,2299.752,2300.802,2.050
4,2024-01-28 09:50:00,2022,Manual,2298.886,2300.686,1.800
...,...,...,...,...,...,...
8142,2024-05-09 08:46:00,ZAR-C-S,Manual,2295.382,2303.141,7.759
8143,2024-04-17 10:45:00,ZAR-C-S,Manual,2295.386,2303.141,7.755
8144,2024-03-20 10:31:00,ZAR-C-S,Manual,2295.380,2303.141,7.761
8145,2024-02-23 14:01:00,ZAR-C-S,Manual,2295.387,2303.141,7.754
8146,2024-01-17 11:32:00,ZAR-C-S,Manual,2295.390,2303.141,7.751

Hacemos el join con la tabla infraestructuras de la BD

In [20]:
df_combined = pd.merge(datanew, df_infraestructuras_bd, 
                       left_on='Punto de monitoreo', 
                       right_on='HOLEID', 
                       how='left')  # Cambiar a 'left' para asegurar un left join

In [40]:

# columna punto de monitoreo CAMBIAR C112 por C-112
datanew['Punto de monitoreo'] = datanew['Punto de monitoreo'].str.replace('C112', 'C-112')
# datanew['Punto de monitoreo'] = datanew['Punto de monitoreo'].astype(str)

C:\Users\fdona\AppData\Local\Temp\ipykernel_3420\562544798.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew['Punto de monitoreo'] = datanew['Punto de monitoreo'].str.replace('C112', 'C-112')

In [46]:
df_combined = pd.merge(datanew, df_infraestructuras_bd, 
                       left_on='Punto de monitoreo', 
                       right_on='HOLEID', 
                       how='left')  # Cambiar a 'left' para asegurar un left join

In [47]:
df_combined

,Fecha,Punto de monitoreo,Tipo nivel,Nivel (msnm),Cota Referencia(msnm),Prof Nivel (m),HOLEID,OrigenAgua,Fuente,Nombre_Equivalencia,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,2024-01-07 10:54:00,1028,Manual,2299.498,2301.448,2.250,1028,Agua Subterránea,SQM,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5.0
1,2024-02-20 12:33:00,1028,Manual,2299.489,2301.448,2.259,1028,Agua Subterránea,SQM,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5.0
2,2024-05-24 14:39:00,1028,Manual,2299.450,2301.448,2.298,1028,Agua Subterránea,SQM,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5.0
3,2024-01-25 14:40:00,1906,Manual,2299.752,2300.802,2.050,1906,Agua Subterránea,SQM,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.24863028873307 -23.33970178608219),-23.339702,-68.248630,None,None,None,10.0
4,2024-01-28 09:50:00,2022,Manual,2298.886,2300.686,1.800,2022,None,ACQ,None,...,None,None,None,None,NaN,NaN,L4-12,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8446,2024-05-09 08:46:00,ZAR-C-S,Manual,2295.382,2303.141,7.759,ZAR-C-S,Agua Subterránea,SQM,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.53020897622807 -23.62158061611765),-23.621581,-68.530209,None,None,None,511.0
8447,2024-04-17 10:45:00,ZAR-C-S,Manual,2295.386,2303.141,7.755,ZAR-C-S,Agua Subterránea,SQM,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.53020897622807 -23.62158061611765),-23.621581,-68.530209,None,None,None,511.0
8448,2024-03-20 10:31:00,ZAR-C-S,Manual,2295.380,2303.141,7.761,ZAR-C-S,Agua Subterránea,SQM,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.53020897622807 -23.62158061611765),-23.621581,-68.530209,None,None,None,511.0
8449,2024-02-23 14:01:00,ZAR-C-S,Manual,2295.387,2303.141,7.754,ZAR-C-S,Agua Subterránea,SQM,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.53020897622807 -23.62158061611765),-23.621581,-68.530209,None,None,None,511.0
8450,2024-01-17 11:32:00,ZAR-C-S,Manual,2295.390,2303.141,7.751,ZAR-C-S,Agua Subterránea,SQM,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.53020897622807 -23.62158061611765),-23.621581,-68.530209,None,None,None,511.0

In [50]:
# eliminar 

df_infraestructuras_bd['Object_ID'] = range(1, len(df_infraestructuras_bd) + 1)
df_infraestructuras_bd

,HOLEID,OrigenAgua,Fuente,Nombre_Equivalencia,X_UtmEste,Y_UtmNorte,CotaRef_msnm,DATUM,MIN_FechaCoordenadaNivel,MAX_FechaCoordenadaNivel,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,1001,Agua Subterránea,SQM,None,575190.000,7392246.000,2301.100,WGS84,None,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.26314320414922 -23.57848819842006),-23.578488,-68.263143,None,None,None,1
1,1023,Agua Subterránea,Historico MINSAL (1988),None,584202.060,7415049.600,2300.580,WGS84,32108,32910,...,NO,None,None,POINT (584202.0600000001 7415049.6),-23.372083,-68.176112,None,None,None,2
2,1024,Agua Subterránea,SQM,None,589475.000,7391600.000,2300.950,WGS84,None,None,...,None,Peine,None,POINT (-68.12312414806739 -23.58359588624011),-23.583596,-68.123124,None,None,None,3
3,1027,Agua Subterránea,SQM,None,589797.000,7424645.000,2308.776,WGS84,None,None,...,None,Soncor,None,POINT (-68.1219425028462 -23.28511956597051),-23.285120,-68.121943,None,None,None,4
4,1028,Agua Subterránea,SQM,None,584433.000,7383998.000,2301.448,WGS84,None,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,PN-08A_Fase I Alerta Núcleo,None,HIDRODB,None,582633.000,7382424.000,NaN,WGS-84,None,None,...,None,None,None,None,NaN,NaN,L4-12,None,None,563
563,PN-08A_RWL,None,HIDRODB,None,582633.000,7382424.000,NaN,WGS-84,None,None,...,None,None,None,None,NaN,NaN,L4-12,None,None,564
564,PUENTE SAN LUIS AFORO,None,HIDRODB,None,584148.170,7424268.999,NaN,WGS-84,None,None,...,None,None,None,None,NaN,NaN,L4-12,None,None,565
565,PN-08A_Fase II Alerta Núcleo,None,HIDRODB,None,582633.000,7382424.000,NaN,WGS-84,None,None,...,None,None,None,None,NaN,NaN,L4-12,None,None,566
566,PUENTE SAN LUIS POZO,None,HIDRODB,None,584142.704,7424282.452,NaN,WGS-84,None,None,...,None,None,None,None,NaN,NaN,L4-12,None,None,567

In [51]:
df_infraestructuras_bd.to_sql(table_name2, engine, if_exists='replace', index=False)

567

In [33]:
df_infraestructuras_bd.to_excel('df_infraestructuras_bd.xlsx', index=False)

In [44]:
# LEER EXCEL df_infraestructuras_bd.xlsx Y GUARDAR EN LA BASE DE DATOS CON UN APPEND
newinfraestructuras = pd.read_excel('df_infraestructuras_bd.xlsx')
newinfraestructuras
newinfraestructuras.to_sql(table_name2, engine, if_exists='append', index=False)

37

In [52]:
df_combined = pd.merge(datanew, df_infraestructuras_bd, 
                       left_on='Punto de monitoreo', 
                       right_on='HOLEID', 
                       how='left')  # Cambiar a 'left' para asegurar un left join

In [56]:
df_combined.columns

Index(['Fecha', 'Punto de monitoreo', 'Tipo nivel', 'Nivel (msnm)',
       'Cota Referencia(msnm)', 'Prof Nivel (m)', 'HOLEID', 'OrigenAgua',
       'Fuente', 'Nombre_Equivalencia', 'X_UtmEste', 'Y_UtmNorte',
       'CotaRef_msnm', 'DATUM', 'MIN_FechaCoordenadaNivel',
       'MAX_FechaCoordenadaNivel', 'RanuraMin_From_m', 'RanuraMax_To_m',
       'ProfundidadTotal_m', 'TIENE_DATO_NIVEL', 'TIENE_DATO_PH',
       'TIENE_DATO_QCA', 'TIENE_DATO_ESTRATI', 'SISTEMA', 'Alias', 'geometry',
       'Latitud', 'Longitud', 'Activacion', 'Indicador', 'Sistema2',
       'Object_ID'],
      dtype='object')

In [58]:
# df_combined crear columna Compañia con valor SQM
df_combined['Compañia'] = 'SQM'
# Crear columna Fecha_Update con la fecha actual
from datetime import datetime
df_combined['Fecha_Update'] = datetime.now()

In [59]:
extract_columns = ['Fecha', 'Compañia', 'Punto de monitoreo', 'Tipo nivel', 'Nivel (msnm)',
       'Cota Referencia(msnm)', 'Prof Nivel (m)', 'Sistema2', 'SISTEMA',
       'Object_ID', 'Fecha_Update']

# extraer del df df_combined ectract_columns
df_combined_extract = df_combined[extract_columns]

In [63]:
df_manuales_bd.columns

Index(['Fecha', 'Compañia', 'Punto de monitoreo', 'Tipo nivel', 'Nivel (msnm)',
       'Cota Referencia(msnm)', 'Prof Nivel (m)', 'Sub-Sistema', 'Sistema',
       'Object_ID', 'Fecha_Update'],
      dtype='object')

In [64]:
rename_columns = ['Fecha', 'Compañia', 'Punto de monitoreo', 'Tipo nivel', 'Nivel (msnm)',
       'Cota Referencia(msnm)', 'Prof Nivel (m)', 'Sub-Sistema', 'Sistema',
       'Object_ID', 'Fecha_Update']

# renombrar columnas de df_combined rename_columns
df_combined_extract.columns = rename_columns

In [65]:
df_combined_extract

,Fecha,Compañia,Punto de monitoreo,Tipo nivel,Nivel (msnm),Cota Referencia(msnm),Prof Nivel (m),Sub-Sistema,Sistema,Object_ID,Fecha_Update
0,2024-01-07 10:54:00,SQM,1028,Manual,2299.498,2301.448,2.250,None,Peine,5,2024-06-26 12:26:45.873114
1,2024-02-20 12:33:00,SQM,1028,Manual,2299.489,2301.448,2.259,None,Peine,5,2024-06-26 12:26:45.873114
2,2024-05-24 14:39:00,SQM,1028,Manual,2299.450,2301.448,2.298,None,Peine,5,2024-06-26 12:26:45.873114
3,2024-01-25 14:40:00,SQM,1906,Manual,2299.752,2300.802,2.050,None,Nucleo Salar de Atacama,10,2024-06-26 12:26:45.873114
4,2024-01-28 09:50:00,SQM,2022,Manual,2298.886,2300.686,1.800,None,None,531,2024-06-26 12:26:45.873114
...,...,...,...,...,...,...,...,...,...,...,...
8446,2024-05-09 08:46:00,SQM,ZAR-C-S,Manual,2295.382,2303.141,7.759,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
8447,2024-04-17 10:45:00,SQM,ZAR-C-S,Manual,2295.386,2303.141,7.755,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
8448,2024-03-20 10:31:00,SQM,ZAR-C-S,Manual,2295.380,2303.141,7.761,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
8449,2024-02-23 14:01:00,SQM,ZAR-C-S,Manual,2295.387,2303.141,7.754,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
8450,2024-01-17 11:32:00,SQM,ZAR-C-S,Manual,2295.390,2303.141,7.751,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114

In [66]:
df_combined_extract.to_sql(table_name1, engine, if_exists='append', index=False)

451

In [70]:
df_manuales_bd

,Fecha,Compañia,Punto de monitoreo,Tipo nivel,Nivel (msnm),Cota Referencia(msnm),Prof Nivel (m),Sub-Sistema,Sistema,Object_ID,Fecha_Update
0,2007-09-04 00:00:00,SQM,1001,Manual,2299.740,2301.100,1.360,Nucleo Salar de Atacama,Nucleo Salar de Atacama,474,2024-06-18 16:07:17.371471
1,2007-10-02 00:00:00,SQM,1001,Manual,2299.746,2301.100,1.354,Nucleo Salar de Atacama,Nucleo Salar de Atacama,474,2024-06-18 16:07:17.371471
2,2007-10-27 00:00:00,SQM,1001,Manual,2299.743,2301.100,1.357,Nucleo Salar de Atacama,Nucleo Salar de Atacama,474,2024-06-18 16:07:17.371471
3,2007-12-06 00:00:00,SQM,1001,Manual,2299.740,2301.100,1.360,Nucleo Salar de Atacama,Nucleo Salar de Atacama,474,2024-06-18 16:07:17.371471
4,2007-12-27 00:00:00,SQM,1001,Manual,2299.730,2301.100,1.370,Nucleo Salar de Atacama,Nucleo Salar de Atacama,474,2024-06-18 16:07:17.371471
...,...,...,...,...,...,...,...,...,...,...,...
100908,2024-05-09 08:46:00,SQM,ZAR-C-S,Manual,2295.382,2303.141,7.759,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
100909,2024-04-17 10:45:00,SQM,ZAR-C-S,Manual,2295.386,2303.141,7.755,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
100910,2024-03-20 10:31:00,SQM,ZAR-C-S,Manual,2295.380,2303.141,7.761,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
100911,2024-02-23 14:01:00,SQM,ZAR-C-S,Manual,2295.387,2303.141,7.754,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114
100912,2024-01-17 11:32:00,SQM,ZAR-C-S,Manual,2295.390,2303.141,7.751,None,Nucleo Salar de Atacama,511,2024-06-26 12:26:45.873114

REVISAR DATOS EN BD

In [69]:
df_manuales_bd.to_excel(r'G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\04.SIG-BD\06_Export_BD\Hidrogeología\BD-SQM-NIVELES-26-06-24\SQM-Niveles-Manuales.xlsx', index=False)
df_infraestructuras_bd.to_excel(r'G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\04.SIG-BD\06_Export_BD\Hidrogeología\BD-SQM-NIVELES-26-06-24\SQM-Infraestructuras.xlsx', index=False)